<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VetAgenda</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            {%for categoria, mensagem in mensagens %}
                <div class="mensagem {{ categoria }}">
                    {{ mensagem }}

                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <header class="cabecalho">
        <div class="container">
           <a href="#inicio" class="logo-area">
    <span class="logo-icone">🐾</span>
    <span>VetAgenda</span>
</a>

            <nav>
                <a href="#inicio">Início</a>
                
                <a href="#servicos">Serviços</a>
                
                <a href="#agendamento">Agendamento</a>
            </nav>

            <div class="marca-mupi-topo">
                <img
                    src="{{ url_for('static', filename='img/logo.png') }}"
                    alt="Mupi Systems"
                    class="mupi-logo-topo"
                >
            </div>
        </div>
    </header>

    <main>
        <section class="hero" id="inicio">
            <div class="container">
                <h2>Cuidado veterinário de forma simples e organizada</h2>

                <p>
                    Solicite o atendimento do seu pet de forma rápida e acompanhe a confirmação clínica.
                </p>

                <a href="#agendamento" class="botao-principal">
                    Agendar atendimento
                </a>
            </div>
        </section>

        <section class="servicos" id="servicos">
            <div class="container">

                <h2>Nossos serviços</h2>

                <div class="lista-serviços">

                    <article class="card">
                       <h3>🩺 Consulta Veterinária</h3>
                        <p>
                            Atendimento veterinário para avaliação da saúde do seu pet.
                        </p>
                    </article>

                    <article class="card">
                        <h3>💉 Vacinação</h3>
                        <p>
                            Acompanhamento preventivo para cuidar da saúde e do bem-estar.
                        </p>
                    </article>

                </div>
            </div>
        </section>

        <section class="agendamento" id="agendamento">
            <div class="container">
                <h2>Solicite um atendimento</h2>

                <p>
                    Preencha os dados abaixo. A solicitação será enviada para análise
                </p>

                <form class="form-agendamento" method="POST" action="/agendar"> 
                    <h3>Dados do tutor</h3>

                    <div class="grupo-formulario">
                        <label for="nome_tutor">Nome do tutor</label>
                        <input
                            type="text"
                            id="nome_tutor"
                            name="nome_tutor"
                            required
                        >
                    </div>

                    <div class="grupo-formulario">
                        <label for="email">E-mail</label>
                        <input
                        type="email"
                        id="email"
                        name="email"
                        required
                        >
                    </div>

                    <div class="grupo-formulario">
                        <label for="telefone">Telefone</label>
                        <input
                        type="tel"
                        id="telefone"
                        name="telefone"
                        required
                        >
                    </div>

                    <h3>Dados do animal</h3>

                    <div class="grupo-formulario">
                        <label for="nome_animal">Nome do animal</label>
                        <input
                        type="text"
                        id="nome_animal"
                        name="nome_animal"
                        required
                        >
                    </div>

                    <div class="grupo-formulario">
                        <label for="especie">Espécie</label>
                        <select id="especie" name="especie" required>
                            <option value="">Selecione</option>
                            <option value="Cachorro">Cachorro</option>
                            <option value="Gato">Gato</option>
                            <option value="Ave">Ave</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>

                    <div class="grupo-formulario">
                        <label for="porte">Porte</label>

                        <select id="porte" name="porte" required>
                            <option value="">Selecione</option>
                            <option value="Pequeno">Pequeno</option>
                            <option value="Médio">Médio</option>
                            <option value="Grande">Grande</option>
                        </select>
                    </div>

                    <h3>Atendimento</h3>

                    <div class="grupo-formulario">
                        <label for="servico">Serviço</label>

                        <select id="servico" name="servico" required>
                            <option value="">Selecione</option>
                            <option value="Consulta">Consulta veterinária</option>
                            <option value="Vacinação">Vacinação</option>
                            <option value="Check-up">Check-up</option>
                            <option value="Banho e Tosa">Banho e tosa</option>
                            <option value="Retorno">Retorno</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>

                    <div class="grupo-formulario">
                        <label for="data">Data desejada</label>
                        <input
                        type="date"
                        id="data"
                        name="data"
                        required
                    >
                    </div>

                    <div class="grupo-formulario">
                        <label for="horario">Horário desejado</label>
                        <input
                        type="time"
                        id="horario"
                        name="horario"
                        required
                    >
                    </div>

                    <div class="grupo-formulario">
                        <label for="observacoes">Observações</label>
                        <textarea
                        id="observacoes"
                        name="observacoes"
                        rows="4"
                        placeholder="Informe sintomas, observações ou necessidade"></textarea>
                    </div>

                    <button type="submit" class="botao-enviar">
                        Enviar solicitação
                    </button>

                </form>

            </div>
        </section>

    </main>

    <footer>
        <p>VetAgenda  © 2026</p>
    </footer>

    </body>

</html>